<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crazyandroid">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.second.demo.Second2_9_1xPopupWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.second.demo.Second2_9_1">

        </activity>
        <activity android:name="com.second.demo.Second2_8_8"></activity>
        <activity android:name="com.second.demo.Second2_8_7" />
        <activity android:name="com.second.demo.Second2_8_6" />
        <activity android:name="com.second.demo.Second2_8_5" />
        <activity android:name="com.second.demo.Second2_8_3" />
        <activity android:name="com.second.demo.Second2_8_2" />
        <activity android:name="com.second.demo.Second2_8_1" />
        <activity android:name="com.second.demo.Second2_3_8" />
        <activity android:name="com.second.demo.Second2_3_7" />
        <activity android:name="com.second.demo.Second2_3_6" />
        <activity
            android:name="com.fourth.PreferenceActivityTest"
            android:label="设置程序参数" />
        <activity
            android:name="com.fourth.ExpandableListActivityTest"
            android:label="查看星际兵种" />
        <activity android:name="com.fourth.Thourth4_1" />
        <activity android:name="com.third.demo.third3_6" />
        <activity android:name="com.third.demo.third3_5_2" />
        <activity android:name="com.third.demo.third3_5" />
        <activity android:name="com.third.demo.third3_2_2" />
        <activity android:name="com.third.demo.third3_2" />
        <activity android:name="com.second.demo.Second2_7_4" />
        <activity android:name="com.second.demo.Second2_7_2" />
        <activity android:name="com.second.demo.Second2_7_1" />
        <activity android:name="com.second.demo.Second2_7_3" />
        <activity android:name="com.second.demo.Second2_5_65" />
        <activity android:name="com.second.demo.Second2_5_64" />
        <activity android:name="com.second.demo.Second2_5_6" />
        <activity android:name="com.second.demo.Second2_5_4" />
        <activity android:name=".Second2_5_4" />
        <activity android:name="com.second.demo.Second2_5_3" />
        <activity android:name="com.second.demo.Second2_5_2" />
        <activity android:name="com.second.demo.Second2_5_1" />
        <activity android:name="com.second.demo.Second2_4_3" />
        <activity android:name="com.second.demo.Second2_4_1" />
        <activity android:name="com.second.demo.Second2_3_5" />
        <activity android:name="com.second.demo.Second2_3_2" />
        <activity android:name="com.second.demo.Second2_3_1" />
        <activity android:name="com.second.demo.Second2_2_5" />
        <activity android:name="com.second.demo.Second2_2_3" />
        <activity android:name="com.second.demo.Second2_2_2" />
        <activity android:name="com.second.demo.Second2_2_1" />
        <activity android:name="com.second.demo.Second2_1_5" />
        <activity android:name="com.second.demo.Second2_1_4" />
        <activity android:name="com.second.demo.Second2_1_2" />
        <activity android:name="com.second.demo.Main6Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>